body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 120px;
}

#logo {
    font-size: 24px;
    font-weight: 1200;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    font-size: 14px;
    color: #F9FAF8;
    padding: 8px;
    text-decoration: none;
}

.first {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.first-part {
    gap: 20px;
}

.first-title {
    font-size: 48px;
    font-weight: extra-bold;
}

.first-button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    margin-top: 10px;
}

.u2 {
    width: 400px;
}

.second {
    background-color: #F9FAF8;
    padding: 40px;
    text-align: center;
}

.second-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-bottom: 32px;
}

.group-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

img {
    width: 150px;
}

.group-image {
    max-width: 200px;
}

.third {
    background-color: #E5E7EB;
    padding: 40px 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-citation {
    font-style: italic;
    font-size: 24px;
    color: #1F2937;
}

.author-citation {
    display: flex;
    justify-content: right;
}

#author-citation {
    font-weight: bolder;
}

.four {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    margin: 50px 120px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}

.footer {
    background-color: #1F2937;
    font-weight: bold;
    color: #F9FAF8;
    text-align: center;
}